<h3>Admin Account Table</h3>

<table id="admin">
  <tr>
    <th>Fullname</th>
    <th>Username</th>
    <th>Address</th>
    <th>Telephone</th>
  </tr>
  {{#each listUser}}
    <tr>
      <td>{{fullname}}</td>
      <td>{{username}}</td>
      <td>{{address}}</td>
      <td>{{telephone}}</td>
    </tr>
  {{/each}}
</table>

<style>
  #admin { font-family: Arial, Helvetica, sans-serif; border-collapse: collapse;
  width: 100%; } #admin td, #admin th { border: 1px solid #ddd; padding: 8px; }
  #admin tr:nth-child(even){background-color: #f2f2f2;} #admin tr:hover
  {background-color: #ddd;} #admin th { padding-top: 12px; padding-bottom: 12px;
  text-align: left; background-color: #04AA6D; color: white; }
</style>